<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="baseHead(title, style)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}"></title>

    <link rel="stylesheet" href="/css/layoutStyle.css" />
    <link rel="stylesheet" th:href="${style}" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hi+Melody&family=Irish+Grover&display=swap" rel="stylesheet">
</head>
<body>
    
</body>
</html>