body{
    background-image: url("/screenDisplays/wood-bg-1.png");
    margin: 0;
}

p{
    font-family: "Hi Melody";
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    color: #F1D59D;
}

.pageTitle{
  font-family: "Irish Grover";
  font-weight: 400;
  font-style: normal;
  justify-self: center;
  font-size: 64px;
  margin-top: 0;
}