<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/baseLayout :: baseHead(title='Worlds Archive | Menu', style='/css/mainMenuStyle.css')">
</head>
<body>
    <div class="menuGrid">
        <div>
            <a href="">
                <img src="buttonAssets/extras-btn.png" id="extras" name="extras" />
            </a>
        </div>
        <div style="justify-self: center;">
            <img src="imageAssets/title-display.png" id="titleDisplay"/>
        </div>
        <div>
            <a href="">
                <img src="buttonAssets/artworks-btn.png" id="artworks" name="artworks" />
            </a>
        </div>
        <div>
            <a href="/Characters/Menu">
                <img src="buttonAssets/characters-btn.png" id="characters" name="characters" />
            </a>
        </div>
        <div style="justify-self: center;">
            <a href="">
                <img src="buttonAssets/locations-btn.png" id="locations" name="locations" />
            </a>
        </div>
        <div>
            <a href="">
                <img src="buttonAssets/stories-btn.png" class="imageBtn" id="stories" name="stories" />
            </a>
        </div>
    </div>
</body>
</html>