<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/pageMenuLayout :: pageHeader(component='Characters')}">
</head>
<body>
    <th:block th:replace="~{layout/pageMenuLayout :: contentFrag(content= ~{::div.content})}">
        <div class="content">
            <p class="pageTitle">Characters</p>
            <div class="content-grid">
                <div class="picture-page">
                    <img src="/buttonAssets/photo-pic-btn.png" id="pictureBtn"/>
                </div>
                <div class="menu-content">
                    <p class="secondaryTitle">Category</p>
                    <ul class="contentList">
                        <li>Test</li>
                        <li>Test2</li>
                        <li>
                            <div th:insert="~{components/addBtn :: addButton}"></div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </th:block>
</body>
</html>